{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}素忆-话题{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 20px; margin-bottom: 70px">
        <div class="swiper-container" style="height: 13%; width: 100%">
         <div class="swiper-wrapper"  style="height: 100%; width: 100%">
             {% for banner in all_banners %}
                 <div class="swiper-slide">
                    <a href="{{ banner.url }}">
                        <img style="height: 100%; width: 100%" src="http://39.107.72.87:9000/media/{{ banner.image }}" />
                    </a>
                 </div>
             {% endfor %}
         </div>

         <div class="swiper-pagination"></div>
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
        </div>

        <table class="table table-hover" style="margin-top: 20px">
            <tr class="text-center">
                <td><a class="btn btn-default btn-block" href="{% url 'contact_newest' %}" role="button">最新</a></td>
                <td><a class="btn btn-default btn-block" href="{% url 'contact_selected' %}" role="button">精选</a></td>
                <td><a class="btn btn-default btn-block" href="{% url 'contact_follow' 3 %}" role="button">关注</a></td>
            </tr>
        </table>

        {% for edit in edits %}
            {% if follow_code == '3' %}
                {% if edit.follow_whether == "已关注" %}
                    <div class="panel panel-default" style="margin-top: 20px">
                        <a href="{% url 'contact_msg' edit.id %}">
                            <div class="panel-body">
                                <h4>{{ edit.title }} </h4>
                                <p><small>{{ edit.add_time }} <span style="color: #ac2925"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  作者编号：{{ edit.user.author_number }}</span></small></p>
                            </div>
                            <div class="panel-footer">
                                <p>{{ edit.get_content }}</p>
                            </div>
                        </a>
                        <p></p>
                        <p class="text-right" onclick="click_fav($(this), {{ edit.id }}, 2)">
                            {{ edit.fav_whether }}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <span class="text-right" onclick="follow_fav($(this), {{ edit.id }}, 2)">
                            {{ edit.follow_whether }}
                        </span>
                        </p>

                    </div>
                {% endif %}
            {% else %}
                <div class="panel panel-default" style="margin-top: 20px">
                <a href="{% url 'contact_msg' edit.id %}">
                    <div class="panel-body">
                        <h4>{{ edit.title }} </h4>
                        <p><small>{{ edit.add_time }} <span style="color: #ac2925"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  作者编号：{{ edit.user.author_number }}</span></small></p>
                    </div>
                    <div class="panel-footer">
                        <p>{{ edit.get_content }}</p>
                    </div>
                </a>
                <p></p>
{#                <p id="edit_id" hidden>{{ edit.id }}</p>#}
                <p class="text-right" onclick="click_fav($(this), {{ edit.id }}, 2)">
                    {{ edit.fav_whether }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span  onclick="follow_fav($(this), {{ edit.id }}, 2)">
                    {{ edit.follow_whether }}
                </span>
                </p>

            </div>
            {% endif %}
        {% endfor %}
    </div>

    <nav class=" navbar-fixed-bottom" style="margin: 50px 15px">
        <nav aria-label="pagination-sm">
          <ul class="pager">
              <!--<li class="previous"><a href="#"><span aria-hidden="true"  >&larr;</span> 上</a></li>-->
              <li><a class="btn btn-default btn-lg" href="{% url 'contact_write' %}" role="button">发表</a></li>
              <!--<li class="next"><a href="#">下 <span aria-hidden="true" >&rarr;</span></a></li>-->
          </ul>
        </nav>
    </nav>
{% endblock %}

{% block custom_js %}
      <script>
          var mySwiper = new Swiper(".swiper-container",{
              autoplay:1000,//每秒中轮播一次
          loop:true,//可以让图片循环轮播
          autoplayDisableOnInteraction:false,//在点击之后可以继续实现轮播
          pagination:".swiper-pagination",//让小圆点显示
          paginationClickable:true,//实现小圆点点击
          prevButton:".swiper-button-prev",//实现上一页的点击
          nextButton:".swiper-button-next",//实现下一页的点击
          effect:"flip",//可以实现3D效果的轮播
          });

          //点赞
          function click_fav(current_elem, fav_id, fav_type){
            $.ajax({
                cache: false,
                type: "POST",
                url:"/click_fav/",
                data:{'fav_id':fav_id, 'fav_type':2},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == '用户未登录'){
                            window.location.href="/login/";
                        }else{
                            alert(data.msg)
                        }

                    }else if(data.status == 'success'){
                        current_elem.text(data.msg)
                    }
                },
            });
            }
          //关注
          function follow_fav(current_elem, fav_id, fav_type){
            $.ajax({
                cache: false,
                type: "POST",
                url:"/follow_fav/",
                data:{'fav_id':fav_id, 'fav_type':2},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == '用户未登录'){
                            window.location.href="/login/";
                        }else{
                            alert(data.msg)
                        }

                    }else if(data.status == 'success'){
                        current_elem.text(data.msg)
                    }
                },
            });
            }
{% comment %}          $('#jsRightBtn').on('click', function(){
              click_fav($(this), $('#edit_id').text(), 2);
          });{% endcomment %}
      </script>
{% endblock %}