<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="./css/bootstrap.min.css">
   <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
 <script type="text/javascript" src="js/bootstrap.min.js"></script>
<title>邀请好友界面</title>

	<style>
		/*		将导航栏居中显示  */
		@media (max-width: 768px){
			.navbar-header {
				text-align: center;
				width: 100%;
			}
			.navbar-brand {
				float:none;
				display:inline-block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 0;

			}
		}

		a {
			text-decoration:none;
			out-line: none;
			color: #000000;
		}
		a:hover{
			text-decoration:none;
			out-line: none;
			color: #000000;
		}
	</style>

</head>
<body>
<!--	在这里修改背景颜色-->
<nav class="navbar navbar-fixed-top " style="background-color: #d69bd5">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<!--<img alt="Brand" src="..."/>-->
				<span>常 情</span>
			</a>
		</div>

	</div>
</nav>



		<div class="container" style="margin-top: 20px">



			<a  data-toggle="modal" data-target=".bs-example-modal-sm">
			<div class="panel panel-default" style="background:url(./img/kapian.png) no-repeat 0px 0px;background-size:cover;height: 215px">
				<div class="panel-body">
					<p style="margin-top: 20%;"><span style="color: white; font-size: large; ">ZC180421101Y</span></p>
				</div>
			</div>
			</a>

			<div class="panel panel-default">
				<div class="panel-heading">分享说明</div>
				<div class="panel-body">


					<p>这个页面的链接就要变成用户的专属分享链接了啊。<br/> 用户点进来是这页面，分享的时候也分享这个页面。如果用户点击这个页面，未登录的话，获取分享人的ID，并跳转到注册页面？可行不。 </p>
				</div>


			</div>



		</div>



<!--<table class="table table-hover navbar-fixed-bottom ">-->
	<!--<tr class="text-center">-->

        <!--<td><div id="nativeShare"></div></td>-->

	<!--</tr>-->
<!--</table>-->

</body>
</html>
