{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}我的权限{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 20px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>等级： <small>{{ grade.get_grade_classification_display }}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积分： <small>{{ integral.integral_numbers }}分</small></h4>
                </div>
                <div class="panel-footer">
                    <p></p>

                    <a href="#">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                如何增加积分？
                                <p>{{ increase_integral }}</p>
                            </div>
                        </div>
                    </a>

                   <p><hr></p>
                    <p>权限说明：</p>
                    <p>{{ jurisdiction_explain }}</p>

                </div>
            </div>

    </div>
{% endblock %}

{% block foot %}
    <table class="table table-hover navbar-fixed-bottom">
    <tr class="text-center">
        <td><a href="{% url 'users' %}" role="button"><span style="font-size: large">返&nbsp;&nbsp;&nbsp;回</span></a></td>

    </tr>
</table>
{% endblock %}